{% comment %}
Universal Pagination Component
Usage: {% include 'components/pagination.html' %}
{% endcomment %}

{% if page_obj.has_other_pages %}
  {% if color == 'blue' %}
    {% with bg_color='bg-blue-600' outline_color='outline-blue-600' %}
      {% include 'components/pagination_content.html' %}
    {% endwith %}
  {% else %}
    {% if color == 'purple' %}
      {% with bg_color='bg-purple-600' outline_color='outline-purple-600' %}
        {% include 'components/pagination_content.html' %}
      {% endwith %}
    {% else %}
      {% if color == 'green' %}
        {% with bg_color='bg-green-600' outline_color='outline-green-600' %}
          {% include 'components/pagination_content.html' %}
        {% endwith %}
      {% else %}
        {% if color == 'red' %}
          {% with bg_color='bg-red-600' outline_color='outline-red-600' %}
            {% include 'components/pagination_content.html' %}
          {% endwith %}
        {% else %}
          {% if color == 'indigo' %}
            {% with bg_color='bg-indigo-600' outline_color='outline-indigo-600' %}
              {% include 'components/pagination_content.html' %}
            {% endwith %}
          {% else %}
            {% if color == 'yellow' %}
              {% with bg_color='bg-yellow-600' outline_color='outline-yellow-600' %}
                {% include 'components/pagination_content.html' %}
              {% endwith %}
            {% else %}
              {% if color == 'pink' %}
                {% with bg_color='bg-pink-600' outline_color='outline-pink-600' %}
                  {% include 'components/pagination_content.html' %}
                {% endwith %}
              {% else %}
                {% with bg_color='bg-indigo-600' outline_color='outline-indigo-600' %}
                  {% include 'components/pagination_content.html' %}
                {% endwith %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
